html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}

.averam-main-section {
    text-align: center;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(0, 0, 0, 0.144) 100%);
    padding: 20px; /* Espaciado alrededor del contenido */
    border-radius: 8px; /* Bordes redondeados */
    height: 100%;
}




nav ul {
    display: inline;
}

nav ul li{
    text-decoration: none;
    list-style-type: none; /* Elimina las viñetas */
    margin: 2%;
    padding: 2%;
    background-color: rgba(0, 78, 222, 0.622);
    border-radius: 25px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
}

h1{
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    font-size: 3rem;
    color: #161616;
    text-align: center;
    margin: 0;
}

img{
    width: 15vw;
    height: auto;
}

p{
    font-family: "Bebas Neue", sans-serif;
    text-align: end;
    color: #ebebeb;
    margin-right: 5%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #161616;
    text-align: center;
    padding: 5px;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  }
  
